# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
backend/venv/

# AI Models
*.pt

# Next.js
frontend/node_modules/
frontend/.next/

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db